################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Consultorio.Dominio/obj/Debug
/Consultorio.Infra/obj/Debug
/Consultorio_Web/bin
/Consultorio_Web/obj/Debug
/packages
/Consultorio.Infra/bin/Debug
/Consultorio.Dominio/bin/Debug
